{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:import/typescript",
    "airbnb-typescript",
    "prettier"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "es2021": true,
    "browser": true,
    "node": true
  },
  "ignorePatterns": ["*.d.ts", "dist", "node_modules"],
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
