# tests
**/*/coverage

# build folder
**/*/dist
**/*/bin

# Dependency directories
**/*/node_modules

automation/**/*

packages/icons/src/*
packages/lab/src/*

# templates directory
doc/04-Templates/*
