# os
.DS_Store

# editor
.idea
.vscode
.nova

# node
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env*

# Build
dist
bin

# tests
coverage

# lint
.eslintcache

# typescript
*.tsbuildinfo

package