# os
.DS_Store

# editor
.idea/
.vscode/
.nova/

# node
node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env*

# build
lib/
cjs/
esm/
dist/

# typescript
*.tsbuildinfo

# project
docs/.docusaurus
storybook-static
TODO.md

.yalc
.husky

.eslintcache