; Nexus proxy registry pointing to http://registry.npmjs.org/
registry = http://10.177.178.252:8081/repository/group-npm

; base64 encoded authentication token
# _auth = "ZG1hcmlhbm86QzduaDFhc3I="

; required by Nexus
email = diogo.mariano@hitachivantara.com

; force auth to be used for GET requests
always-auth = true

; we don't want to put certificates in .npmrc
strict-ssl = false

loglevel = silly