registry=https://htokpi-ip-93-108-46-243.expose.sh
@hv:registry=https://repo.orl.eng.hitachivantara.com/artifactory/api/npm/uikit-npm-release-orl/

# Make storybook happy with its deps
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false