# registry=http://localhost:4873/
# @hitachivantara:registry=https://repo.orl.eng.hitachivantara.com/artifactory/api/npm/uikit-npm-release-orl/

# Make storybook happy with its deps
shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false