.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.DayPicker-NavButton--prev {
  left: 20px;
}

.DayPicker-NavButton--next {
  left: 215px;
}

.DayPicker-Caption {
  text-align: center;
  color: #414141;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 600;
}

.DayPicker-Day {
  text-align: center;
  color: #414141;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 18px;
  font-weight: 400;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #414141;
  background-color: #DEDEDE;
  border-radius: 0 !important;
}

.DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected,
.DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected {
  color: #DEDEDE;
  background-color: #414141 !important;
}

.DateWrapper {
  position: relative;
  width: 255px;
  border: 1px solid #414141;
}

.DateReset {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  z-index: 1001;
}

.DateField {
  padding: 5px 10px;
}

.DateInput {
  min-width: 150px;
  font-size: 12px;
  line-height: 20px;
  border: none;
}

.DatePicker {
  display: none;
  z-index: 999;
}

.active {
  display: block;
}
