/* .InputFromTo
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}

.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}

.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.InputFromTo .DayPickerInput-Overlay {
  width: 550px;
}

.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
} */

.DateField {
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 2px;
  width: 140px;
  font-size: 12px;
}

.Wrapper {
  display: none;
}

.active {
  display: block;
}
