html,
body {
  font-family: "Open Sans", sans-serif;
}

/* Overriding some HV values set by the root provider for now to use Nextra's styling
 ------------------------ */

body {
  line-height: inherit !important;
  font-size: 0.95rem !important;
  letter-spacing: inherit !important;
  color: inherit !important;
  font-weight: inherit !important;
}

html[class~="dark"] body {
  background-color: rgba(17, 17, 17, var(--tw-bg-opacity)) !important;
}

html[class~="light"] body {
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important;
}

main p {
  margin-top: 0.8rem !important;
}

main h2 {
  margin-top: 1.5rem !important;
  margin-bottom: 0.8rem !important;
  border-bottom: none !important;
}
