{
  "rules": {
    "no-alert": "off",
    "no-console": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "assets/**",
            "group": "internal"
          },
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "generator/**",
            "group": "internal"
          },
          {
            "pattern": "lib/**",
            "group": "internal"
          },
          {
            "pattern": "pages/**",
            "group": "internal"
          },
          {
            "pattern": "types/**",
            "group": "internal"
          }
        ],
        "distinctGroup": false,
        "pathGroupsExcludedImportTypes": ["builtin", "object"],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
