@unocss all;

.dark {
  background-color: #151c26;
}

article > main p {
  font-size: 1rem;
  line-height: 1.75;
}

article > main p:not(:first-child) {
  @apply !mt-1;
}

body,
.nextra-nav-container-blur,
.nextra-sidebar-footer,
.nextra-toc-footer {
  background-color: transparent;
}

.nextra-nav-container nav,
.nextra-nav-container + div {
  @apply max-w-[44rem];
}

.nextra-nav-container nav {
  @apply px-3;
}

.nextra-nav-container a:last-of-type svg {
  @apply w-2.5;
}

.nextra-nav-container button div svg {
  @apply w-2 h-2;
}

.nextra-sidebar-container li.active a {
  @apply bg-atmo2 dark:bg-primary_20 text-slate-800 dark:text-slate-200;
}

.nextra-sidebar-container {
  @apply w-[7rem];
}

.nextra-toc {
  @apply pt-5;
}

.nextra-toc .nextra-scrollbar a._text-primary-800,
.nextra-toc .nextra-scrollbar a._text-primary-600 {
  @apply font-semibold text-slate-600 dark:text-slate-200;
}

.nextra-sidebar-footer,
.nextra-toc-footer {
  display: none;
}

.nextra-breadcrumb {
  @apply mb-2;
}

@media only screen and (max-width: 768px) {
  .nextra-sidebar-container {
    @apply w-full;
  }
}

@media only screen and (max-width: 1024px) {
  .nextra-toc {
    display: none !important;
  }
}
