@unocss all;

.dark {
  background-color: #151c26;
}

article > main h2 {
  @apply !border-none;
}

article > main h3._mt-8 {
  @apply mt-lg;
}

article > main h3._mt-8 + p {
  margin-top: 8px !important;
}

article {
  font-size: 1rem;
}

body,
.nextra-nav-container-blur,
.nextra-sidebar-footer,
.nextra-toc-footer {
  @apply bg-transparent;
}

.nextra-sidebar-container .active a {
  @apply light:bg-slate-100;
}

.nextra-sidebar-container {
  @apply w-224px;
}

.nextra-nav-container nav,
.nextra-nav-container + div {
  @apply max-w-1408px;
}

.nextra-nav-container nav {
  @apply px-md;
}

.nextra-nav-container a:last-of-type svg {
  @apply w-20px;
}

.nextra-nav-container button div svg {
  @apply size-16px;
}

.nextra-content {
  justify-content: unset;
}

.nextra-toc {
  @apply w-224px;
}

.nextra-toc a {
  @apply font-normal;
}

.nextra-toc p {
  @apply shadow-none;
}

.nextra-scrollbar a._text-primary-800 {
  @apply font-medium text-slate-800 dark:text-slate-200;
}

.nextra-sidebar-footer,
.nextra-toc-footer {
  display: none;
}

.nextra-breadcrumb {
  @apply mb-sm;
}

@media only screen and (max-width: 768px) {
  .nextra-sidebar-container {
    @apply w-full;
  }
}

@media only screen and (max-width: 1024px) {
  .nextra-toc {
    display: none !important;
  }
}

[aria-current="true"].nextra-focus {
  @apply font-medium text-dark;
}

[aria-current="false"].nextra-focus {
  @apply text-textSubtle;
}
