.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #414141;
  background-color: #dedede;
  border-radius: 0 !important;
}

.DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected,
.DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected {
  color: #dedede;
  background-color: #414141 !important;
}

.DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.DayPickerWrapper {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  background: #fff;
  border: 1px solid #bcbcbc;
  width: 275px;
}

.DayPickerInput input {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  background: transparent;
  min-width: 260px;
  font-size: 11px;
  border: none;
  margin: 8px 10px;
  cursor: pointer;
}

.DayPickerInput input:focus {
  outline: none;
}

.DayPicker-Caption {
  text-align: center;
}

.DayPicker-NavButton--prev {
  margin-right: 205px;
}

.DayPickerInput-Overlay {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  position: absolute;
  width: 275px;
  left: -1px;
  top: 0px;
  z-index: 1000;
  background: white;
  border: 1px solid #bcbcbc;
  border-top: none;
  box-shadow: none !important;
}
