.ReactTable {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  color: rgb(65, 65, 65);
  border: none;
  font-size: 14px;
}

.ReactTable .rt-table {
  border: solid 1px #bcbcbc;
  border-bottom: none;
}

.ReactTable .rt-thead.-header {
  background: #dedede;
  text-align: right;
  border-bottom: solid 1px #bcbcbc;
  box-shadow: none;
}

.ReactTable .rt-tbody,
.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px #bcbcbc;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-tbody .rt-td {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: none;
}

.ReactTable .rt-thead .rt-th .rt-sort-icon {
  margin-right: 10px;
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc,
.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: none;
}
