name: Documentation

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      ORG_GHPAGES_DEPLOY_KEY:
        required: true
    inputs:
      publish-folder:
        type: string

env:
  PUBLISH_FOLDER: ${{ inputs.publish-folder || github.ref_name }}

jobs:
  build-artifacts:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Artifacts
        uses: ./.github/actions/build-artifacts
        env:
          APP_BASE_PATH: /uikit-app/${{ env.PUBLISH_FOLDER }}/

  deploy-artifacts:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build-artifacts
    strategy:
      matrix:
        include:
          - folder: "uikit"
            artifact: "documentation"
          - folder: "uikit-app"
            artifact: "app"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy Artifacts
        uses: ./.github/actions/deploy-artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ORG_GHPAGES_DEPLOY_KEY: ${{ secrets.ORG_GHPAGES_DEPLOY_KEY }}
          PUBLISH_REPO: ${{ github.repository_owner }}/${{ github.repository_owner }}.github.io
          PUBLISH_FOLDER: ${{ matrix.folder }}/${{ env.PUBLISH_FOLDER }}
          PUBLISH_MESSAGE: "chore: ${{ matrix.artifact }} for ${{ env.PUBLISH_FOLDER }} of ${{ github.repository }}"
          URL: https://${{ github.repository_owner }}.github.io/${{ matrix.folder }}/${{ env.PUBLISH_FOLDER }}/
          ARTIFACT: ${{ matrix.artifact }}
