name: CI (master)
on:
  schedule:
    - cron: '0 5 * * *' # daily at 05:00
  pull_request:
    branches:
      - master

env:
  RESOLVE_REGISTRY: https://repo.orl.eng.hitachivantara.com/artifactory/api/npm/npm/  

jobs:
  Build:
    runs-on: [self-hosted, Linux]
    container:
      image: node:12.14.1-buster
      options: -u 1000 # buildguy

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: |
          npm config set @hv:registry ${RESOLVE_REGISTRY}
          npm ci

      - name: Bootstrap
        run: npm run bootstrap

     # - name: Lint
     #   run: npm run lint

     # - name: Test
     #   run: npm run test

      - name: Generate Storybook
        run: npm run automation:package

      - name: Archive Storybook
        uses: actions/upload-artifact@v1
        with:
          name: storybook
          path: automation/storybook/dist

  Robot:
    needs: Build
    runs-on: [self-hosted, Windows]
    strategy:
      fail-fast: false
      matrix:
        browser: [firefox, ie, chrome]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch Storybook
        uses: actions/download-artifact@v1
        with:
          name: storybook
          path: .github/storybook/www

      - name: Run Storybook
        uses: ./.github/storybook

      - name: Run Robot
        shell: cmd
        run: >-
          robot 
          --variable STORYBOOK_URL:http://172.20.42.225:9002 
          --variable BROWSER:${{ matrix.browser }} 
          --exclude pa11y 
          --exclude issueORissue-${{ matrix.browser }}ORimage 
          --exclude bug-${{ matrix.browser }}ORbug-${{ matrix.browser }}-webdriverORbug-jenkins
          --report reports/report.html
          --log reports/log.html 
          automation\robot\storybook\core\badge 

      - name: Save Reports
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: ${{ matrix.browser }}-reports
          path: reports

  Release:
    if: github.event_name == 'schedule'
    needs: Robot
    runs-on: [self-hosted, Linux]
    steps:
      - name: Trigger Release
        uses: actions/github-script@0.8.0
        env:
          RELEASE_COMMIT_MESSAGE: 'chore(release): publish'
        with:
          # repo scope token is required to generate a dispatch event
          github-token: ${{ secrets.BUILD_TOKEN }}
          script: |
            const commit = await github.repos.getCommit({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.sha
            })

            const message = commit.data.commit.message

            if(!message.includes('${{ env.RELEASE_COMMIT_MESSAGE }}')){
              console.log('Last commit not released, triggering a new release.')

              await github.repos.createDispatchEvent({
                owner: context.repo.owner,
                repo: context.repo.repo,
                event_type: 'release'
              })
            } else {
              console.log('Last commit already released.')
            }

            
