name: Pull Request

on:
  pull_request:
    branches:
      - master
      - "next*"

jobs:
  static-checks:
    name: Static Checks
    uses: ./.github/workflows/static-checks.yml

  applitools:
    name: Applitools
    uses: ./.github/workflows/tests-applitools.yml
    needs: [static-checks]
    secrets:
      APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}

  documentation:
    name: Documentation
    uses: ./.github/workflows/documentation.yml
    needs: [static-checks]
    secrets:
      ORG_GHPAGES_DEPLOY_KEY: ${{ secrets.ORG_GHPAGES_DEPLOY_KEY }}
    with:
      publish-folder: pr-${{ github.event.number }}

  # pa11y:
  #   name: Pa11y
  #   uses: ./.github/workflows/tests-pa11y.yml
  #   needs: [documentation]