name: Run Robot Tests
on:
  workflow_dispatch:

jobs:
  # Notify-Start:
  #   name: Notify Start
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Notify
  #       uses: hbfernandes/slack-action@1.0
  #       env:
  #         SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
  #       with:
  #         args: |
  #           {
  #             "channel": "ui-kit-eng-ci",
  #             "attachments": [
  #               {
  #                 "mrkdwn_in": ["text"],
  #                 "title": "${{ github.workflow }} on ${{github.ref}} started",
  #                 "text": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}",
  #                 "footer": "by ${{github.actor}}"
  #               }
  #             ]
  #           }

  Build-Storybook-V3-Store:
    name: Build Storybook (v3 store)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Install
        run: npm ci

      - name: Bootstrap
        run: npm run bootstrap

      - name: Build Storybook
        run: npm run build-documentation

      - name: Archive Storybook
        uses: actions/upload-artifact@v2
        with:
          name: storybook-v3
          path: ${{ github.workspace }}/dist

      - name: Clean Folders
        if: always()
        run: rm -rf ${{ github.workspace }}/dist

  Robot:
    name: Test Robot
    needs: [Build-Storybook-V3-Store]
    runs-on: [self-hosted, Linux]
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        browser: [firefox, chrome]
    container:
      image: dockerhub-docker-remote.repo.orl.eng.hitachivantara.com/joaoeg/docker-robot-framework:0.1
      options: --shm-size=6g --cpus 4 -u 2501
      env:
        BROWSER: ${{ matrix.browser }}
        ROBOT_TESTS_DIR: ./automation/robot/storybook/core
        ROBOT_REPORTS_DIR: ./reports
        ROBOT_THREADS: 4
        ROBOT_OPTIONS: "--variable STORYBOOK_URL:http://storybook --variable BROWSER:${{ matrix.browser }} --exclude bug-${{ matrix.browser }} --exclude bug-${{ matrix.browser }}-webdriver --exclude issue --exclude issue-${{ matrix.browser }} --exclude bug-infrastructure --exclude bug-infrastructure-${{ matrix.browser }}"

    services:
      storybook:
        image: dockerhub-docker-remote.repo.orl.eng.hitachivantara.com/nginx
        volumes:
          - ${{ github.workspace }}/dist:/usr/share/nginx/html
        options: >-
          --name storybook

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch Storybook
        uses: actions/download-artifact@v2
        with:
          name: storybook-v3
          path: ${{ github.workspace }}/dist

      - name: Restart nginx
        uses: docker://dockerhub-docker-remote.repo.orl.eng.hitachivantara.com/docker
        with:
          args: docker restart storybook

      - name: Run Robot
        run: ./.github/robot-docker/run-tests-in-virtual-screen-with-rerun.sh

      - name: Save Reports
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: ${{ matrix.browser }}-reports
          path: ${{ github.workspace }}/reports

      - name: Clean Folders
        if: always()
        run: |
          rm -rf ${{ github.workspace }}/dist
          rm -rf ${{ github.workspace }}/reports

  # Notify-End:
  #   name: Notify End
  #   needs: [Robot]
  #   if: always()
  #   runs-on: ubuntu-latest

  #   steps:
  #     # delete storybook artifact
  #     - uses: geekyeggo/delete-artifact@v1
  #       with:
  #         name: storybook-v3

  #     - uses: technote-space/workflow-conclusion-action@v1

  #     - name: generate conclusion color
  #       id: conclusion_color
  #       uses: actions/github-script@v3
  #       with:
  #         github-token: ${{secrets.GITHUB_TOKEN}}
  #         script: |
  #           if("${{ env.WORKFLOW_CONCLUSION }}" === "success") core.exportVariable("COLOR", "#63A621")
  #           else if("${{ env.WORKFLOW_CONCLUSION }}" === "failure") core.exportVariable("COLOR", "#C62828")
  #           else if("${{ env.WORKFLOW_CONCLUSION }}" === "neutral") core.exportVariable("COLOR", "#BCBCBC")
  #           else if("${{ env.WORKFLOW_CONCLUSION }}" === "cancelled") core.exportVariable("COLOR", "#FFD00A")
  #           else if("${{ env.WORKFLOW_CONCLUSION }}" === "timed_out") core.exportVariable("COLOR", "#FFD00A")

  #     - name: Notify
  #       uses: hbfernandes/slack-action@1.0
  #       env:
  #         SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
  #         CONCLUSION: ${{ env.WORKFLOW_CONCLUSION }}
  #       with:
  #         args: |
  #           {
  #             "channel": "ui-kit-eng-ci",
  #             "attachments": [
  #               {
  #                 "mrkdwn_in": ["text"],
  #                 "color": "${{env.COLOR}}",
  #                 "title": "${{ github.workflow }} on ${{github.ref}} finished - ${{ env.CONCLUSION }}",
  #                 "text": "https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
  #               }
  #             ]
  #           }
